@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main__page {
  color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 3s ease;
  .bg__Img {
    max-width: 330px;
    max-height: 467px;
    position: fixed;
    bottom: 10px;
    right: 0px;
    z-index: -1;
  }
}
