* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto Condensed ", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.promo {
  height: 900px;
  background: url("../img/main_bg.jpg") center center/ cover no-repeat;
  background-color: rgba(44, 44, 44, 0.59);
  background-blend-mode: multiply;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 14px;
}

h1 {
  margin-top: 53px;
}

.title {
  color: #f9bf3b;
  font-weight: 900;
  font-size: 41px;
  text-transform: uppercase;
  text-align: center;
}

h2.title {
  margin-top: 30px;
}

.simple .title_big {
  color: #ffffff;
  font-weight: 900;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 21px;
}

.promo .promo_text {
  padding: 0 13px;
  margin-top: 23px;
  color: #ffffff;
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

.promo .promo_text span {
  font-weight: 700;
  color: #f9bf3b;
}

.promo .promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 73px;
  width: 321px;
  height: 80px;
  background-image: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  border: 4px solid rgba(0, 0, 0, 0.778);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.17);
  border-radius: 6px;

  /* font-family: "Roboto Condensed", sans-serif; */
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.21);
  color: #ffffff;

  cursor: pointer;
}

.more {
  margin-top: 73px;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.more .more_img {
  margin-top: 13px;
}
/* ************************ 2 section ***********************************/
.waiting {
  min-height: 607px;
  background-color: #efefef;
  padding: 87px 0px 76px 0px;
}

.waiting .waiting_header,
.finish .finish_header {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #252525;
  text-align: center;
}

.finish .finish_header {
  color: #efefef;
}

.waiting .waiting_divider,
.finish .finish_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 0 auto;
  margin-top: 16px;
}

.waiting .waiting_subheader {
  font-size: 23px;
  line-height: 20px;
  font-weight: 400;
  color: #4a4a4a;
  margin-top: 16px;
  text-align: center;
}

.waiting .waiting_wrapper {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin-top: 33px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: #4a4a4a;
}

/* ************************** 3 section **************************************/

.optimization {
  min-height: 550px;
  padding: 101px 0 107px 0;
}

.optimization .optimization_header {
  margin-left: 391px;
  font-size: 29px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #299cbd;
}

.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
  color: #4a4a4a;
}

.optimization .optimization_text span {
  font-weight: 700;
}

.optimization .optimization_img {
  position: absolute;
  top: -47px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url(/img/second_bg.jpg) center center/ cover no-repeat;
}

.finish .finish_wraper {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_wraper .finish_item {
  width: 204px;
}

.finish .finish_wraper .finish_item .finish_round {
  width: 115px;
  height: 115px;
  background-color: #b4e2ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.finish .finish_wraper .finish_item .finish_descr {
  margin-top: 23px;
  text-align: center;
  color: #efefef;
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
}

.gift {
  padding: 86px 0 88px 0;
  min-height: 628px;
  background-color: #efefef;
}
.gift .gift_icon {
  display: block;
  margin: 0 auto;
}
.gift .gift_text {
  font-size: 30px;
  line-height: 43px;
  font-weight: 500;
  color: #252525;
  text-align: center;
  padding-top: 42px;
}

.gift .gift_btn {
  width: 321px;
  height: 80px;
  background-image: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  border: 4px solid rgba(243, 243, 243, 0.663);
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

.gift .gift_btn_text {
  /* font-family: "Roboto Condensed", sans-serif; */
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.21);
  color: #ffffff;
}

.vebinar {
  padding: 88px 0 62px 0;
}

.vebinar .vebinar_img {
  margin: 0 auto;
  display: block;
}

.vebinar .vebinar_header {
  font-size: 30px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #252525;
  text-align: center;
  margin-top: 37px;
}

.vebinar .vebinar_date {
  font-size: 36px;
  line-height: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #299cbd;
  text-align: center;
  margin-top: 30px;
}

.vebinar .vebinar_text {
  font-size: 23px;
  line-height: 20px;
  font-weight: 400;
  color: #4a4a4a;
  text-align: center;
  margin-top: 25px;
}

.footer {
  padding: 63px 0 70px 0;
  height: 166px;
  background-color: #1a1a1a;
}

.footer .footer_wrapper {
  display: flex;
  justify-content: center;
}

.footer .footer_wrapper .link {
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  text-decoration: underline;
  color: #888888;
}

.footer .footer_wrapper .line {
  border-left: 1.5px solid #888888;
  height: 13px;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  bottom: -4px;
}

.footer .footer_phone {
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: #888888;
  text-align: center;
  margin-top: 7px;
}
